
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&display=swap');


body
{
    background-image: url("../images/background-test.png");
    background-size: cover;
    background-position: center;
}

.formHidden{
    display: none !important;
}

.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 40%;
    border: 1px solid #999;
    outline: none;
    margin-left: 60px;
}

.btn 
{
    color: #00a566;
    width: 40%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    /* border: none; */
    outline: none;
    cursor: pointer;
    border-color: #00a566;
}

#topBar{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#searchBox{
    width: 60%;
}

.new-contact-btn
{
    color: #00a566;
    width: 10%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    /* border: none; */
    outline: none;
    cursor: pointer;
    border-color: #00a566;
    margin-left: 20px;
}

.logout-btn
{
    color: #00a566;
    width: 10%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    /* border: none; */
    outline: none;
    cursor: pointer;
    border-color: #00a566;
    margin-left: 10px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

.styled-table thead tr {
    background-color: #00a566;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: lightgray;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #00a566;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #00a566;
}

.styled-table table
{
    border: 1px white;
}

.sign-up-form
{
    width: 25%;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 10px;
    opacity: 0.9;
}

.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}

.sign-up-form h1
{
    color: #00a566;
    margin-bottom: 30px;
}

.signup-btn
{
    color: #00a566;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    /* border: none; */
    outline: none;
    cursor: pointer;
    border-color: #00a566;
}

.back-btn
{
    color: #00a566;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    /* border: none; */
    outline: none;
    cursor: pointer;
    border-color: #00a566;
    /* margin-right: 200px; */
}

img
{
    width: 80px;
    margin-top: -50px;
}

.tableLabels
{
    font-family: 'Space Mono', monospace;
}
